@font-face {
    font-family: 'Cinzel';
    src: url('../font/Cinzel/Cinzel-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('../font/ABeeZee/ABeeZee-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    position: relative;
    font-family: 'ABeeZee', sans-serif !important;
    font-weight: 100;
    margin: 0;
    top: 0px !important;
}

main {
    background-color: #ddd;
}

h2 {
    font-family: 'Cinzel', serif !important;
    font-weight: 600;
    padding-top: 3em;
    font-size: 3rem;
}

a {
    color: #222;
}

a:hover {
    color: #777;
}

.modal-backdrop {   
    display: none;    
}

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

.navbar-brand {
    font-family: 'Cinzel', serif !important;
    letter-spacing: 0.1rem;
    font-weight: 400;
}



.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax>.jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar.navbar-dark .navbar-nav .nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar {
    background-color: transparent;
}

.navbar .nav-item {
    padding: 0px 20px;
}

.top-nav-collapse {
    background-color: #000000bb;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #000000bb;
    }
}

.spacer-1 {
    height: 2rem;
}

.spacer-2 {
    height: 4rem;
}

.spacer-3 {
    height: 6rem;
}

.spacer-4 {
    height: 8rem;
}

.spacer-5 {
    height: 10rem;
}

.inner-container {
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 15rem;
    background: #ffffff99;
}

.harvest-rules {
    padding-top: 2rem;
    text-align: left;
}

.home-page,
.guide-page,
.map-page,
.faq-page {
    min-height: 100vh;
}

.guide-page {
    color: #222;
}

.map-page {
    color: #fff;
}

.faq-page {
    padding-top: 5em;
    color: #222;
}

.page-footer {
    position: absolute;
    width: 100%;
}

.footer-copyright {
    background-color: #222 !important;
}

.testimonial-card {
    min-height: 24rem;
}

.council .testimonial-card {
    min-height: unset;
}

.testimonial-card .avatar img {
    width: 100%;
}

.testimonial-card .card-body {
    text-align: center;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    -webkit-border-top-left-radius: .25rem;
    border-top-left-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card .avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

/*#google_translate_element {
    position: absolute;
    bottom: calc(53px + 16px);
    right: 16px !important;
}
*/
/*.goog-te-gadget {
    font-family: Roboto, "Open Sans", sans-serif !important;
    text-transform: uppercase;
}*/

/*.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    padding: 8px !important;
    border: none !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
}*/

/*.goog-te-menu2 {
    max-width: 100%;
}*/

.goog-te-menu-value {
    color: #222 !important;
}

.goog-te-menu-value img,
.goog-te-menu-value span:nth-child(3),
.goog-te-menu-value span:nth-child(5),
.goog-te-gadget-icon,
.goog-tooltip.skiptranslate,
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
.goog-te-menu-frame.skiptranslate {
    left: unset !important;
    right: 0px;
    width: 10rem !important;
}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
    #google_translate_element {
        bottom: calc(100% - 50% - 53px);
        left: 16px !important;
        width: 100% !important;
    }

    #google_translate_element .goog-te-gadget {
        width: 100% !important;
    }

    #google_translate_element .skiptranslate {
        width: 100% !important;
    }

    #google_translate_element .goog-te-gadget-simple {
        width: calc(100% - 32px) !important;
        text-align: center;
    }
}

.goog-te-gadget-simple {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  -webkit-transform: scale(1.25);
  /*margin: 110px 30px;*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*line-height: 2.6;*/
  padding: 1rem !important;
  color: #e1dada !important;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2) !important;
  border-radius: 100px !important;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e3e3e3));
  background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e3e3e3));
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 10px 10px 15px #e3e3e3, -10px 10px 15px #e3e3e3, -15px -15px 15px rgba(255, 255, 255, 0.4), 15px -15px 15px rgba(255, 255, 255, 0.4), inset 0px 2px 0px #fff;
  -webkit-transition: box-shadow 0.3s ease-in-out,  background-image 0.3s ease-in-out, text-shadow 0.5s linear, color 0.5s linear;
  -moz-transition: box-shadow 0.3s ease-in-out,  background-image 0.3s ease-in-out, text-shadow 0.5s linear, color 0.5s linear;
}
.goog-te-gadget-simple.active {
  text-shadow: 0px 0px 7px #fff !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3e3e3), color-stop(100%, #f4f4f4));
  background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #e3e3e3), color-stop(100%, #f4f4f4));
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 10px 10px 15px rgba(255, 255, 255, 0.4), -10px 10px 15px rgba(255, 255, 255, 0.4), -10px -10px 15px #e3e3e3, 10px -10px 15px #e3e3e3, inset 0px -3px 0px rgba(255, 255, 255, 0.4), inset 0px 3px 3px rgba(0, 0, 0, 0.04);
}

